body {
    background-color: #F1F2F6;  
}

.qr-reader-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.qr-reader {
  width: 100%;
  height: 100%;
}
  
  @media (max-width: 426px) {
    .qr-reader {
      width: 100%;
    }
  }



  
  
  .qr-reader video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .qr-frame {
    width: 100%;
    height: 100%;
  }
   
  