.Container {
    display: flex;
    background-color: #F1F2F6;
  }
  
  .App {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding-top: 10px;
    width: 100%;
    height: 100%;
  }
  /*  */
  html {
    overflow-y: scroll;
  }
  /*  */
  .App-header {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 92%;
    height: 83px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 15px;
    box-shadow: 0.2em 0.2em 0.8em rgba(107, 107, 107, 0.3);;
  }
  .Logo {
    background-color: transparent;
    display: flex;
    align-items: center;
    padding-left: 30px;
  }
  
  * {
    outline: none !important;
  }
  
  .User-info {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 30px;
  }
  
  .Dashboard {
    display: block;
    width: 92%;
    margin: auto;
  }
  
  
  .MainContent {
    padding: 1rem;
  }
  
  .MainContent2 {
    min-height: 800px;
  }
  
  .TopBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .Profile {
    background-color: #f4f4f4;
    padding: 0.5rem 1rem;
    border-radius: 5px;
  }
  
  .Cards {
    display: flex;
    flex-wrap: wrap;
    height: 250px;
    width: 70%;
    gap: 10px;
  }
  
  .DashboardContainer {
    display: flex;
    margin-top: 15px;
  }
  
  .Card {
    display: flex;
    justify-content: space-between;
    height: 120px;
    background-color: rgba(255, 255, 255, 1);
    padding: 1rem;
    border-radius: 15px;
    flex: 1 1 20%;
    min-width: 200px;
    box-shadow: 0.2em 0.2em 0.8em rgba(135, 135, 135, 0.3);;
  }
  
  .data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .Card-amount {
    margin: 0;
    padding-left: 20px;
    font-weight: 300;
    font-size: 25px;
  }
  
  .Card-text {
    margin: 0;
    padding-left: 20px;
    font-weight: 300;
    font-size: 16px;
  }
  
  .icon {
    display: flex;
    align-items: center;
    background-color:rgba(230, 234, 245, 1);
    margin: 15px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
  }
  
  .icon img {
    margin: 0 auto;
  }
  
  .Charts {
    display: flex;
    gap: 3rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    width: 100%;
  }
  
  .Chart-1 {
    background-color: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 15px;
    width: 60%;
    box-shadow: 0.2em 0.2em 0.8em rgba(135, 135, 135, 0.3);;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .Chart-2 {
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    margin-right: 30px;
    height: 250px;
    width: 30%;
    box-shadow: 0.2em 0.2em 0.8em rgba(135, 135, 135, 0.3);;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .Chart-3 {
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    margin-right: 30px;
    width: 40%;
    box-shadow: 0.2em 0.2em 0.8em rgba(135, 135, 135, 0.3);;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .Chart-controls {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 1rem;
  }
  
  .Chart-content {
    background-color: rgb(255, 255, 255);
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  
  
  /* SideMenus */
  
  .Slayout{
    position: relative;
      display: flex;
      /* overflow: hidden; */
      width: 20.65%;
      background-color: rgba(255, 255, 255, 1);
  }
  
  .Ssidebar{
    position: sticky;
    top: 0px;
    height: 100vh;
    width: 100%;
    padding: 10px 0;
    overflow: hidden;
  }
  
  .sideMenu .MuiListItemButton-root { 
    color: #333; 
    transition: background-color 0.3s ease; 
  }
  
  .sideMenu .MuiListItemButton-root:hover { 
    background-color: #e0e0e0; 
  }
  
  .sideMenu .Mui-selected { 
    background-color: #e0e0e0; 
    font-weight: bold;
  }
  
  .sideMenu .MuiListItemIcon-root { 
    color: #007bff; 
  }
  
  
  /* Department and positions */
  
  .DepartmentPositionManagement {
    padding: 20px; 
  }
  
  .DepartmentPositionManagement .MuiTabs-root {
    margin-bottom: 20px; /* Отступ под вкладками */
  }
  
  .DepartmentPositionManagement .MuiTableContainer-root {
    margin-bottom: 20px; /* Отступ под таблицей */
  }
  
  .DepartmentPositionManagement .MuiButton-root {
    margin-bottom: 10px; /* Отступ под кнопкой */
  }
  
  .TableSection {
    margin-bottom: 80px;
    margin-top: 40px;
    flex-grow: 1;
  }